
notebooks/.ipynb_checkpoints/equations-checkpoint.ipynb
notebooks/.ipynb_checkpoints/tmp-checkpoint.ipynb
notebooks/tmp.ipynb
python/dist/optimization_book-0.1-py3.8.egg
python/optimization_book.egg-info/dependency_links.txt
python/optimization_book.egg-info/PKG-INFO
python/optimization_book.egg-info/SOURCES.txt
*.txt
python/build/lib/optimization_book/exceptions.py
python/build/lib/optimization_book/__init__.py
python/build/lib/optimization_book/equations.py
python/build/lib/optimization_book/flycheck_unconstrained.py
python/build/lib/optimization_book/tmp.py
python/build/lib/optimization_book/unconstrained.py
python/optimization_book/tmp.py
